:root
{
    --Body :#f0f0f0 ;
    --BackGround-Color :#b5bec6 ;
    --Primary-Color :#364652 ;
    --Text-Color : #071108;
    --Alert-Color : #c7dbe6 ;
    --Text-Color-2:#bfb1c1;
}
body
{
    background-color: var(--Body);
}
.active
{
    color: var(--Body) !important;
    border-bottom-color: var(--Body) !important;
}

.beforeTitle
{
    color: var(--BackGround-Color);
}
.Title
{
    color: var(--Text-Color);
}
.nextTitle
{
    color: var(--Primary-Color);
}

/* Home */
    /* Nav */
       .nav-username , .nav-item 
        {
            color: var(--Text-Color);
        }
        .nav-item > ul > li > a
        {
            color: var(--Text-Color);
        }
        #Nav > .nav-item > ul > li > a:hover
        {
            color: var(--BackGround-Color);
        }
    /* Baner */
    #Baner
    {
        background-color: var(--BackGround-Color);
    }
        /* BanerRightSide */
       #BanerLeftSide-1
        {
            background-color:var(--Alert-Color);
        }
        #BanerLeftSide-2
        {
            background-color:var(--BackGround-Color)
        }
        /* BanerRightSide */
            #BanerRightSide
            {
                background-color: var(--Primary-Color);
            }
        /* BanerText */
        #BanerJobTitle
        {
            color: var(--Alert-Color);
        }    
        #BanerSentence
        {
            color: var(--Text-Color);
        }
        #BanerSentence > span
        {
            color: var(--Primary-Color);
        }
        #btnHireMe , #btnDownloadCV
        {
            background-color: var(--Primary-Color);
            color: var(--BackGround-Color);
            transition: all 0.5s ease-in-out;
        }
        #btnHireMe:hover , #btnDownloadCV:hover
        {
            background: transparent ;
            color: var(--Primary-Color);
            border:2px solid var(--Primary-Color);
            box-shadow: 10px 10px var(--Primary-Color) ;
           transition: all 0.5s ease-in-out;
        }
    /* Statistics */
    #Statistics > div > p
    {
        background-color: var(--BackGround-Color);
        color: var(--Primary-Color);
    }
    #Statistics > div > p:hover
    {
        background: transparent;
        text-shadow:0px 40px 3px var(--BackGround-Color);
    }
    #Statistics > div > div > p
    {
        color: var(--Text-Color);
    }
    #Statistics > div > div  span
    {
        color: var(--BackGround-Color);
    }
/* Header */
    header
    {
       background-color: var(--BackGround-Color);
    }
    .header-item > ul > li > a
    {
        color: var(--Text-Color);
    }
    .header-item > ul > li > a:hover
    {
        color: var(--Body);
    }
/* About */
    #About > img
    {
        background-image: linear-gradient(to bottom right, var(--BackGround-Color) , var(--Primary-Color));
    }
        /* MiddleBox */
        .Subtitle > li
        {
            color: var(--Primary-Color);
        }
        .Data > li
        {
            color: var(--Text-Color);
        }
        /* BottomBox */
        #Bottom-Box > div
        {
            border-color: var(--Primary-Color);
        }
        #Bottom-Box  img
        {
            background-color: var(--BackGround-Color);
        }
        #Bottom-Box  p
        {
            color: var(--Text-Color);
        }
/* Skills */
    /* SkillsCard */
        .Skills-Card
        {
            background-color: var(--BackGround-Color);
        }
        .Skills-Card >h2
        {
            color: var(--Text-Color);
        }
        .CircleBack
        {
            background-color: var(--Alert-Color) !important;
        }
        .CircleProgres
        {
            background-color: var(--Primary-Color);
        }
        .CircleTop
        {
            background-color: var(--BackGround-Color);
        }
        .Skills-Card > p
        {
            color: var(--Body);
        }
        .Card-Footer
        {
            background: transparent !important;
        }
/* Services */
    /* ServicesBox */
    #ServicesBox >div
    {
        background-color: var(--BackGround-Color);
    }
    .Services-img
    {
        background-color: var(--Alert-Color);
    }
    #ServicesBox > div > h3
    {
        color: var(--Text-Color);
    }
/* Client */
#Client
{
    background-color : var(--Alert-Color)
}
    /* Comment */
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev
    {
        color: var(--Primary-Color);
    }
    .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover
    {
        color: var(--Body);
    }
    .item
    {
        background-color : var(--BackGround-Color);
    }
    .Client_Comment>p
    {
        color: var(--Primary-Color);
    }
    .Client_img>img
    {
        border-color : var(--Alert-Color) !important;
    }
    .Client_Name
    {
        color: var(--Text-Color);
    }
/* Blog */

/* BlogBox */
.BlogInfo > h5 , p
{
    color: var(--Body);
}
.BlogInfo 
{
    background-color : var(--Text-Color)
}

/* Project */
    .Project_Info > p , h3
    {
        color: var(--Primary-Color) !important;
    }
/* Contact */

#ContactBox>form
{
    background-color :var(--BackGround-Color);
}
#ContactBox>form input 
{
    border-color : var(--Alert-Color);
    background-color:var(--Body);
}   

.SubmitBtn
{
    background-color : var(--Alert-Color);
    border-color:var(--Body);
}
.ConatctInfo img
{
    background-color : var(--Alert-Color);
}
.ConatctInfo > h4
{
    color: var(--Text-Color);
}
.ConatctInfo > h4 > p
{
    color: var(--Primary-Color);
}