:root
{
    --Body :#f0f0f0 ;
    --BackGround-Color :#b5bec6 ;
    --Primary-Color :#364652 ;
    --Text-Color : #071108;
    --Alert-Color : #c7dbe6 ;
    --Text-Color-2:#bfb1c1;
}
body
{
    background-color: var(--Body);
}
.active
{
    color: var(--Body) !important;
    border-bottom-color: var(--Body) !important;
}
/* Home */
    /* Nav */
        #Nav > .nav-username
        {
            color: var(--Text-Color);
        }
        #Nav > .nav-item 
        {
            color: var(--Text-Color);
        }
        #Nav > .nav-item > ul > li > a
        {
            color: var(--Text-Color);
        }
        #Nav > .nav-item > ul > li > a:hover
        {
            color: var(--BackGround-Color);
        }
    /* Baner */
    #Baner
    {
        background-color: var(--BackGround-Color);
    }
        /* BanerRightSide */
        #Baner > #BanerLeftSide-1
        {
            background-color:var(--Alert-Color);
        }
        #Baner > #BanerLeftSide-2
        {
            background-color:var(--BackGround-Color)
        }
        /* BanerRightSide */
            #Baner > #BanerRightSide
            {
                background-color: var(--Primary-Color);
            }
        /* BanerText */
        #Baner > #BanerText > #BanerJobTitle
        {
            color: var(--Alert-Color);
        }    
        #Baner > #BanerText > #BanerSentence
        {
            color: var(--Text-Color);
        }
        #Baner > #BanerText > #BanerSentence > span
        {
            color: var(--Primary-Color);
        }
        #Baner > #BanerText > #BanerButton >#btnHireMe
        {
            background-color: var(--Primary-Color);
            color: var(--BackGround-Color);
            transition: all 0.5s ease-in-out;
        }
        #Baner > #BanerText > #BanerButton >#btnDownloadCV
        {
            background-color: var(--Primary-Color);
            color: var(--BackGround-Color);
            transition: all 0.5s ease-in-out;
        }
        #Baner > #BanerText > #BanerButton >#btnHireMe:hover
        {
            background: transparent ;
            color: var(--Primary-Color);
            border:2px solid var(--Primary-Color);
            box-shadow: 10px 10px var(--Primary-Color) ;
           transition: all 0.5s ease-in-out;

        }
        #Baner > #BanerText > #BanerButton >#btnDownloadCV:hover
        {
            background: transparent ;
            color: var(--Primary-Color);
            border:2px solid var(--Primary-Color);
            box-shadow: 10px 10px var(--Primary-Color) ;
            transition: all 0.5s ease-in-out;

        }
    /* Statistics */
    #Home > #Statistics > div > p
    {
        background-color: var(--BackGround-Color);
        color: var(--Primary-Color);
    }
    #Home > #Statistics > div > p:hover
    {
        background: transparent;
        text-shadow:0px 40px 3px var(--BackGround-Color);
    }
    #Home > #Statistics > div > div > p
    {
        color: var(--Text-Color);
    }
    #Home > #Statistics > div > div > p > span
    {
        color: var(--BackGround-Color);
    }
    #Home > #Statistics > div > div > span
    {
        color: var(--BackGround-Color);
    }

/* Header */
    header
    {
       background-color: var(--BackGround-Color);
    }
    header > .header-item > ul > li > a
    {
        color: var(--Text-Color);
    }
    header > .header-item > ul > li > a:hover
    {
        color: var(--Body);
    }
/* About */
    #About > img
    {
        background-image: linear-gradient(to bottom right, var(--BackGround-Color) , var(--Primary-Color));
    }
        /* TopBox */
        #About > .About-Info > #Top-Box > .MyInfo
        {
            color: var(--BackGround-Color);
        }
        #About > .About-Info > #Top-Box > .AboutMe
        {
            color: var(--Text-Color);
        }
        #About > .About-Info > #Top-Box > .AboutText
        {
            color: var(--Primary-Color);
        }
        /* MiddleBox */
        #About > .About-Info > #Middle-Box > .Subtitle > li
        {
            color: var(--Primary-Color);
        }
        #About > .About-Info > #Middle-Box > .Data > li
        {
            color: var(--Text-Color);
        }
        /* BottomBox */
        #About > .About-Info > #Bottom-Box > div
        {
            border-color: var(--Primary-Color);
        }
        #About > .About-Info > #Bottom-Box  img
        {
            background-color: var(--BackGround-Color);
        }
        #About > .About-Info > #Bottom-Box  p
        {
            color: var(--Text-Color);
        }
/* Skills */
#Skills > h2
{
    color: var(--BackGround-Color);
}  
#Skills > h3
{
    color: var(--Text-Color);
}
#Skills > p
{
    color: var(--Primary-Color);
}
    /* SkillsCard */
        #Skills > #Skills-Box >.Skills-Card
        {
            background-color: var(--BackGround-Color);
        }
        #Skills > #Skills-Box >.Skills-Card >h2
        {
            color: var(--Text-Color);
        }
        #Skills > #Skills-Box >.Skills-Card > .CircleBack
        {
            background-color: var(--Alert-Color);
        }
        .CircleProgres
        {
            background-color: var(--Primary-Color);
        }
        #Skills > #Skills-Box >.Skills-Card > .CircleTop
        {
            background-color: var(--BackGround-Color);
        }
        #Skills > #Skills-Box >.Skills-Card > p
        {
            color: var(--Body);
        }
        #Skills > #Skills-Box >.Skills-Card >.Card-Footer
        {
            background: transparent !important;
        }
/* Services */
#Services > h2
{
    color: var(--BackGround-Color);
}  
#Services > h3
{
    color: var(--Text-Color);
}
#Services > p
{
    color: var(--Primary-Color);
}
    /* ServicesBox */
    #Services > #ServicesBox >div
    {
        background-color: var(--BackGround-Color);
    }
    #Services > #ServicesBox > div > .Services-img
    {
        background-color: var(--Alert-Color);
    }
    #Services > #ServicesBox > div > h3
    {
        color: var(--Text-Color);
    }
/* Project */
#Project > h2
{
    color: var(--BackGround-Color);
}  
#Project > h3
{
    color: var(--Text-Color);
}
#Project > p
{
    color: var(--Primary-Color);
}
    /* ProjectBox */
    #Project > #ProjectBox > div > .ProjectInfo > h5 , p
    {
        color: var(--Body);
    }
    #Project > #ProjectBox > div > .ProjectInfo 
    {
        background-color : var(--Text-Color)
    }
/* Client */
#Client
{
    background-color : var(--Alert-Color)
}
#Client > h2
{
    color: var(--Primary-Color);
}
#Client > h3
{
    color: var(--Text-Color);
}
#Client > p
{
    color: var(--Text-Color-2);
}