/* Public Style */
body 
{
    padding: 0 !important;
}
p , h1 , h2 , h3 , h4 , h5 , h6 , span 
{
    cursor: default;
}
a{
    text-decoration: none;
}
.active
{
    border-bottom : 3px solid !important;
    padding-bottom: 10px;
}
.hidden
{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
/* Home */
    /* Nav */
        #Nav
        {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            margin-left: 15%;
            margin-right: 15%;
            width: 70%;
            height: 100px;
            padding-top: 20px;
            background-color: transparent;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        #Nav > .nav-username
        {
            width: 30%;
            padding-top: 15px;
            margin: 0;
            font-size: 35px;
            display: flex;
            justify-content: start;
        }
        #Nav > .nav-item 
        {
            width: 70%;
            padding: 0;
            margin: 0;
            justify-content: space-between;
        }
        #Nav > .nav-item > ul
        {
            padding-top: 17px;
            list-style: none;
            display: flex;
            flex-direction: row;
            padding-left: 0;
            padding-top: 0;
            justify-content: space-between;
        }
        #Nav > .nav-item > ul > li
        {
            cursor: pointer;
            text-transform: uppercase;
            height: 75px;
            font-size: 20px;
            font-weight: 500;
        }
        #Nav > .nav-item > ul > li >a
        {
           display: flex;
           padding-top:30px ;
           height: 75px;
           transition: all 0.5s ease-in-out;
        }
        #Nav > .nav-item > ul > li >a:hover
        {
            padding-top: 0px;
            transition: all 0.5s ease-in-out;
        }
    /* Baner */
        #Baner
        {
            position: relative;
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
        }
        /* BanerLeftSide */
            #Baner > #BanerLeftSide-1 
            {
                position: absolute;
                width: 40%;
                height: 800px;
                clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
            }
            #Baner > #BanerLeftSide-2 
            {
                position: absolute;
                width: 39.5%;
                height: 800px;
                clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
            }
        /* BanerRightSide */
            #Baner > #BanerRightSide
            {
                width: 65%;
                margin-left: 35%;
                height: 800px;
            }

            #Baner > #BanerRightSide > img
            {
                position: absolute;
                display:flex !important;
                width: 700px;
                height: 800px;
                margin-left: 200px;
                transition: all 1s ease-in;
            }
        /* BanerText */
            #Baner > #BanerText
            {
                display: flex;
                flex-wrap: nowrap;
                width: 600px;
                flex-direction: column;
                position: absolute;
                top: 30% ;
                left: 20% ;
            }
            #Baner > #BanerText > #BanerJobTitle
            {
                font-size: 25px;
                font-weight: 700;
            }
            #Baner > #BanerText > #BanerSentence
            {
                font-size: 45px;
                font-weight: 700;
            }
            #Baner > #BanerText > #BanerButton
            {
                width: 300px;
                height: 100px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            #Baner > #BanerText > #BanerButton >#btnHireMe
            {
                font-size: 20px;
                border: none ;
                border-radius: 7px;
                width: 100px;
                height: 50px;
            }
            #Baner > #BanerText > #BanerButton >#btnDownloadCV
            {
                font-size: 20px;
                border: 2px solid ;
                border-radius: 7px;
                width: 150px;
                height: 50px;
            }
    /* Statistics */
        #Home > #Statistics
        {
            padding-left: 15%;
            padding-right: 15%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        #Home > #Statistics > div
        {   
            margin-top: 5px;
            width: 300px;
            height: 200px;
            display: flex;
            flex-direction: row;
        }
        #Home > #Statistics > div > p
        {
            cursor: pointer;
            text-align: center;
            font-size: 35px;
            margin-top: 50px;
            margin-left: 10px;
            padding-top: 20px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transition: all 0.5s ease-in-out;
        }
        #Home > #Statistics > div > p:hover
        {
            margin-top: 20px;
            transition: all 0.5s ease-in-out;
        }
        #Home > #Statistics > div > div
        {
            margin-top: 60px;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        #Home > #Statistics > div > div > p
        {
            font-size: 20px;
        }
        #Home > #Statistics > div > div > p >span
        {
            font-weight: 500;
            font-size: 25px;
        }
        #Home > #Statistics > div > div > span
        {
            font-size: 30px;
            font-weight: 500;
        }

/* Header */
    header
    {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 25px;
    }
    header > .header-username
    {
        width: 30%;
        margin: 0;
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
    header > .header-item
    {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    header > .header-item > ul
    {
        width: 100%;
        padding-top: 17px;
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-top: 0;
        justify-content:space-evenly;
    }
    header > .header-item > ul > li
    {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        align-self: center;
    }
/* About */
    #About
    {
        padding-top: 100px;
        padding-left: 15%;
        padding-right: 15%;
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: row;
    }
    #About > img
    {
        width: 45%;
        height: 800px;
        margin-top: 50px;
        border-radius: 10%;
    }
        /* About Info */
        #About > .About-Info 
        {
            padding-top: 100px;
            width: 45%;
            height: 900px;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
        }
            /* TopBox */
            #About > .About-Info > #Top-Box
            {
                width: 100%;
                height: 250px;
            }
            #About > .About-Info > #Top-Box > .MyInfo
            {
                font-size: 18px;
                font-weight: 200;
                text-transform: capitalize;
            }
            #About > .About-Info > #Top-Box > .AboutMe
            {
                font-size: 28px;
                font-weight: 500;
                text-transform: capitalize;
            }
            #About > .About-Info > #Top-Box > .AboutText
            {
                font-size: 18;
                font-weight: 400;
            }
            /* MiddleBox */
            #About > .About-Info > #Middle-Box
            {
                width: 100%;
                height: 300px;
                display: flex;
                flex-direction: row;
            }
            #About > .About-Info > #Middle-Box > ul
            {
                height: 300px;
                list-style-type: none;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            #About > .About-Info > #Middle-Box > .Subtitle
            {
                width: 30%;
            }
            #About > .About-Info > #Middle-Box > .Subtitle > li
            {
                cursor: default;
                font-size: 25px;
            }
            #About > .About-Info > #Middle-Box > .Data
            {
                width: 70%;
            }
            #About > .About-Info > #Middle-Box > .Data > li
            {
                cursor: default;
                font-size: 20px;
            }
            /* BottomBox */
            #About > .About-Info > #Bottom-Box
            {
                width: 100%;
                height: 100px;
                padding-top: 50px;
                padding-left: 50px;
                display: flex;
                flex-direction: row;
            }
            #About > .About-Info > #Bottom-Box > div
            {
                height: 50px;
                width: 80px;
                border-left: 2px solid black ;
                display: flex;
                flex-direction: row;
                transition:all 0.5s ease-in-out;
            }
            #About > .About-Info > #Bottom-Box > div:hover
            {
                width: 150px;
                transition:all 0.7s ease-in-out;
            }
            #About > .About-Info > #Bottom-Box  img
            {
                position: absolute;
                margin-left: 10px;
                width: 50px;
                height: 50px;
                border-radius:30%;
            }
            #About > .About-Info > #Bottom-Box  p
            {
                position: absolute;
                margin-top: 10px;
                margin-left: 5px;
                width: 100px;
                height: 50px;
                font-size: 20px;
                font-weight: 500;
                text-align: left;
                opacity: 0;
                transition: all 0.4s ease-in-out;
            }
            #About > .About-Info > #Bottom-Box  p:hover
            {
                opacity: 100;
                width: 100px;
                padding-left: 70px;
                transition: all 0.7s ease-in-out;
            }
/* Skills */
#Skills
{
    padding-top: 100px;
    width: 100%;
    height: 1000px;
}
#Skills > h2
{
    text-align: center;
    text-transform: capitalize;
    font-size: 18;
    font-weight: 300;
}
#Skills > h3
{
    text-align: center;
    text-transform: capitalize;
    font-size: 28;
    margin-top: 15px;
    font-weight: 500;
}
#Skills > p
{
    text-align: center;
    text-transform: capitalize;
    margin-top: 25px;
    font-size: 18;
    font-weight: 300;
}
    /* SkillsBox */
        #Skills > #Skills-Box
        {
            margin-left: 20%;
            margin-right: 20%;
            width: 60%;
            height: 750px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction :row;
            flex-wrap: wrap;
        }
            /* SkillsCard */
            #Skills > #Skills-Box >.Skills-Card
            {
                width: 30%;
                height: 350px;
                display: flex;  
                border-radius: 25px;
                flex-direction: column;
            }
            #Skills > #Skills-Box >.Skills-Card >h2
            {
                text-align: center;
                font-size: 25px;
                margin-top: 10px;
                font-weight: 600;
            }
            
            #Skills > #Skills-Box >.Skills-Card  > div 
            {   
                align-self: center;
                border-radius: 50%;
            }
            #Skills > #Skills-Box >.Skills-Card  .CircleBack
            {
                margin-top: 60px;
                width: 200px;
                height: 200px;
                position: absolute;
                background-color: aqua;
            }           
            #Skills > #Skills-Box >.Skills-Card  .CircleTop
            {
                margin-top: 70px;
                width: 180px;
                height: 180px;
                position: absolute;
                transition: all 0.3s ease-in-out;
            }
            #Skills > #Skills-Box >.Skills-Card > p
            {   
                position: relative;
                font-size: 25px;
                margin-left: 45%;
                margin-top: 30%;
            }
            .CircleProgres
            {
                margin-top: 60px;
                width: 200px;
                height: 200px;
                position: absolute;
            } 
            .Progres-90
            {
                /* Left Side Circle Progress : */
                /* clip-path : polygon ( up , up-right , right , down-right ,
                 down , down-left , percent , center) */
                clip-path: polygon(50% 0 , 100% 0 , 100% 50% , 100% 100%
                 , 50% 100% ,0% 100%,0% 50%, 0 0, 10% 5%, 50% 50%);
            }
            .Progres-80
            {
                /* Left Side Circle Progress : */
                /* clip-path : polygon ( up , up-right , right , down-right ,
                 down , down-left , percent , center) */
                clip-path: polygon(50% 0 , 100% 0 , 100% 50% , 100% 100%
                 , 50% 100% ,0% 100%,0 50% , 0 40%, 50% 50%);
            }
            .Progres-60
            {
                /* Left Side Circle Progress : */
                /* clip-path : polygon ( up , up-right , right , down-right ,
                 down , down-left , percent , center) */
                clip-path: polygon(50% 0 , 100% 0 , 100% 50% , 100% 100%
                 , 50% 100% ,0% 100% , 50% 50%);
            }
            .Progres-40
            {
                /* Left Side Circle Progress : */
                /* clip-path : polygon ( up , up-right , right , down-right ,
                 down , down-left , percent , center) */
                clip-path: polygon(50% 0 , 100% 0 , 100% 50% , 100% 100% , 50% 50%);
            }
            #Skills > #Skills-Box >.Skills-Card > .CircleTop  img
            {

                margin-left: 15%;
                margin-top: 15%;
                width: 70%;
                height: 70%;
                border: none !important;
                background: transparent;
            }  
            #Skills > #Skills-Box >.Skills-Card >.Card-Footer
            {
                width: 100%;
                height: 75px;
                border: none;
                border-radius: 20px !important;
                margin-top: 75px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            } 
            #Skills > #Skills-Box >.Skills-Card >.Card-Footer > div
            {
                cursor: pointer;
                margin-top: 15px;
                width: 15%;
                height: 50px;
                transition: all 0.5s ease-in-out;
            }
            #Skills > #Skills-Box >.Skills-Card >.Card-Footer > div:hover
            {
                margin-top: 0;
                transition: all 0.5s ease-in-out;
            }
            #Skills > #Skills-Box >.Skills-Card >.Card-Footer > div > img
            {
                margin-left: 3px;
                width: 40px;
                height: 40px;
                background: transparent !important;
                border: none;
            }
/* Services */
#Services
{
    padding-top: 100px;
    width: 100%;
    height: 1000px;
}
#Services > h2
{
    text-align: center;
    text-transform: capitalize;
    font-size: 18;
    font-weight: 300;
}
#Services > h3
{
    text-align: center;
    text-transform: capitalize;
    font-size: 28;
    margin-top: 15px;
    font-weight: 500;
}
#Services > p
{
    text-align: center;
    text-transform: capitalize;
    margin-top: 25px;
    font-size: 18;
    font-weight: 300;
}
    /* ServicesBox */
    #Services > #ServicesBox
    {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        height: 750px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
    }
    #Services > #ServicesBox > div
    {
        width: 22%;
        height: 300px;
        border-top-right-radius: 25%;
        border-bottom-left-radius: 25%;
        display: flex;
        flex-direction: column;
    }
    #Services > #ServicesBox > div > .Services-img
    {
        position: absolute;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-top: -40;
        margin-left: 20px;
        box-shadow:0px 15px 15px;
    }
    #Services > #ServicesBox > div > .Services-img > img
    {
        background: transparent;
        border: none;
        width: 90%;
        height: 90%;
        margin-top: 5px;
        margin-left: 5px;
    }
    #Services > #ServicesBox > div > h3
    {
        text-align: left;
        margin-top: 75px;
        margin-left: 15px;
        width: 80%;
        font-size: 20px;
        font-weight: 500;
    }
    #Services > #ServicesBox > div > .ServicesText
    {
        margin-top: 5px;
        margin-right: 10%;
        margin-left: 10%;
        padding-left: 5%;
        padding-right: 5%;
        width: 80%;
        height: 120px;
    }
    #Services > #ServicesBox > div > .ServicesText>p
    {
        text-align: left;
        font-size: 15px;
        font-weight: 300;
    }
    #Services > #ServicesBox > div > .ServicesIcon
    {
        align-self: self-end;
        width: 50%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    #Services > #ServicesBox > div > .ServicesIcon > img
    {
        cursor: pointer;
        width: 25%;
        height: 80%;
        margin-right: 20px;
        background: transparent;
        border: none;
    }
        
